    </main>
    <footer class="footer">
      <span><%= config.site.name %></span>
      <span>ECPay <%= config.ecpayMode %> / Pterodactyl <%= config.pterodactylEnabled ? "enabled" : "manual" %></span>
    </footer>
  </body>
</html>
